.position1{
    width:100px;
    height:100px;
    background-color:cornflowerblue;
    position:absolute;
    left:60px;
    z-index:2;
}
.position2{
    width:100px;
    height:100px;
    background-color:aquamarine;
    position:relative;
    left:10px;
    top:10px;
    z-index:1;
}
